@page
@model Classifieds.Areas.Identity.Pages.Account.Manage.MessagesModel
@{
    ViewData["Title"] = "Wiadomości";
    ViewData["ActivePage"] = ManageNavPages.Messages;
}

@if (Model.Received != null && Model.Received.Any())
{
    <h4>
        <img src="/Images/Icons/Messages.png">
        Otrzymane wiadomości:
    </h4>

    <div class="container bg-white rounded border">
        <table class="table p-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Treść</th>
                    <th scope="col">Od kogo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model.Received)
                {
                    <tr>
                        <td><a href="@Url.Action("Display", "Classified",new { classifiedId = message.ClassifiedId })">@message.Title</a></td>
                        <td>@message.Message</td>                        
                        <td>@message.SenderEmail</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h5>Brak otrzymanych wiadomości.</h5>
}
<br />
@if (Model.Sent != null && Model.Sent.Any())
{
    <h4>
        <img src="/Images/Icons/Messages.png">
        Wysłane wiadomości:
    </h4>

    <div class="container bg-white rounded border">
        <table class="table p-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Tytuł</th>
                    <th scope="col">Treść</th>
                    <th scope="col">Do kogo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model.Sent)
                {
                    <tr>
                        <td><a href="@Url.Action("Display", "Classified",new { classifiedId = message.ClassifiedId })">@message.Title</a></td>
                    <td>@message.Message</td>
                    <td>@message.ReceiverEmail</td>
                </tr>
                }                
            </tbody>
        </table>
    </div>
}
else
{
    <h5>Brak wysłanych wiadomości.</h5>
}